@{
    ViewData["Title"] = "Home Page";
     Layout = "Layout/_LayoutBase";
}


<link rel="stylesheet" href="~/css/pizzaIndex.css" asp-append-version="true" />

<div class="text-center  ms-jumbo  ">
    <h1 class="display-4">Welcome</h1>
    <h1 class="col-12 display-4">FIltra pizze</h1>
    <input id="search-input" type="text" class="form-control mb-5" placeholder="FIltra tra le pizza che desideri..."  onkeyup="search"/>

    <div class="no-post">
        Nessuna pizza visualizzata
    </div>
    <div class="containerJson row  mb-5 g-4 ">

    </div>
   
</div>






<script type="text/javascript" language="javascript">

    document.getElementById("search-input").addEventListener("keyup", search);

    function search(e) {
        var value = document.getElementById("search-input").value;
        loadList(value);
     
    }
    loadList(null);

function loadList(search) {


    axios.get(`/api/pizzas`, {
        params: {
            search: search
        }
    }).then((response) => {
        console.log("risultato ok", response);

        if (response.data.lenght == 0) {
            document.querySelector('.no-post').classList.remove('d-none');
            document.querySelector('.containerJson').classList.add('d-none');
        } else {
            document.querySelector('.containerJson').classList.remove('d-none');
            document.querySelector('.no-post').classList.add('d-none');
            document.querySelector('.containerJson').innerHTML = "";

            response.data.forEach(pizza => {
                //console.log('pizza', pizza);
                document.querySelector('.containerJson').innerHTML +=
                    `
                    <div class="col-12 col-sm-6 col-xl-4">
                        <div class="card ms-height">
                        <a href="/Home/Details/${pizza.pizzaId}">
                            <img class="card-img-top" src="${pizza.img}" alt="Card image cap">
                        </a>
                            <div class="card-body">
                                <h5 class="card-title">${pizza.name}</h5>
                                <p class="card-text">${pizza.description}</p>
                                <p class="card-text">Prezzo:${pizza.price} €</p>
                            </div>
                        </div>
                    </div>
                    `;
            });
        }


    }).catch(e => {
        console.log(e);
    });
}
</script>

